body,
h1,
h2,
h3,
p,
dl,
dd,
ol,
ul,
th,
td,
form,
fieldset,
input,
button,
textarea {
    margin: 0;
    padding: 0
}

html {
    -webkit-text-size-adjust: none;
    word-wrap: break-word
}

h1,
h2,
h3 {
    font-size: 100%
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit
}

fieldset,
img {
    border: 0
}

cite,
em,
s,
i,
b {
    font-style: normal
}

input,
button,
textarea,
select {
    font-size: 100%
}

body,
input,
button,
textarea,
select,
option {
    font-size: normal
}

a,
input,
textarea {
    text-decoration: none;
    outline: 0
}

li,
img,
label,
input {
    vertical-align: middle
}

var {
    font-style: normal
}

ins {
    text-decoration: none
}

body {
    font-size: .2rem;
    color: #333
}

a {
    color: #333
}

.mlr20 {
    margin: auto .2rem
}

.m20 {
    margin: .2rem 0
}

.m30 {
    margin: .3rem 0
}

.mt20 {
    margin-top: .2rem
}

.mb20 {
    margin-bottom: .2rem
}

.mt40 {
    margin-top: .4rem
}

.mb40 {
    margin-bottom: .4rem
}

.mt-20 {
    margin-top: -.2rem
}

.hide {
    display: none
}

.h_box {
    display: box;
    display: -webkit-box;
    width: 100%
}

.h_box .spacer {
    width: .2rem
}

.flex_1 {
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%
}

.flex_20 {
    width: .2rem
}

@font-face {
    font-family: iconfont;
    src: url(../font/iconfont_0ae7b24.eot?9owfml);
    src: url(../font/iconfont_0ae7b24.eot?#iefix9owfml) format("embedded-opentype"), url(../font/iconfont_9ea097b.woff?9owfml) format("woff"), url(../font/iconfont_ddc302a.ttf?9owfml) format("truetype"), url(/fonts-v4/iconfont_2fbfa92.svg?9owfml#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class^=icon-],
[class*=" icon-"],
.iconfont {
    font-family: iconfont!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-milogo:before {
    content: "\e61d"
}

.icon-check:before {
    content: "\e61e"
}

.icon-close:before {
    content: "\e61f"
}

.icon-location:before {
    content: "\e620"
}

.icon-roundcheck:before {
    content: "\e621"
}

.icon-roundclose:before {
    content: "\e622"
}

.icon-unfold:before {
    content: "\e623"
}

.icon-filter:before {
    content: "\e624"
}

.icon-yonghu:before {
    content: "\e625"
}

.icon-shangjiantou:before {
    content: "\e626"
}

.icon-xiajiantou:before {
    content: "\e627"
}

.icon-talk:before {
    content: "\e628"
}

.icon-fenxiang:before {
    content: "\e629"
}

.icon-fcode:before {
    content: "\e600"
}

.icon-checked:before {
    content: "\e601"
}

.icon-diannaoban:before {
    content: "\e602"
}

.icon-fangdajing:before {
    content: "\e603"
}

.icon-gerenzhongxin:before {
    content: "\e604"
}

.icon-gouwuche:before {
    content: "\e605"
}

.icon-home:before {
    content: "\e606"
}

.icon-huafeichongzhi:before {
    content: "\e607"
}

.icon-kehuduan:before {
    content: "\e608"
}

.icon-quanbushangpin:before {
    content: "\e609"
}

.icon-shanchu:before {
    content: "\e60a"
}

.icon-shequ:before {
    content: "\e60b"
}

.icon-sousuo:before {
    content: "\e60c"
}

.icon-tehui:before {
    content: "\e60d"
}

.icon-xiaomishouji:before {
    content: "\e60e"
}

.icon-fold:before {
    content: "\e62a"
}

.icon-unie668:before {
    content: "\e62b"
}

.icon-shezhi:before {
    content: "\e62c"
}

.icon-10chahaokuang:before {
    content: "\e62d"
}

.icon-cart:before {
    content: "\e62e"
}

.icon-fasong:before {
    content: "\e62f"
}

.icon-fuwu:before {
    content: "\e60f"
}

.icon-heyueji:before {
    content: "\e610"
}

.icon-lingdang:before {
    content: "\e630"
}

.icon-duiquan:before {
    content: "\e631"
}

.icon-search:before {
    content: "\e632"
}

.icon-fasong1:before {
    content: "\e633"
}

.icon-iconfontshanchu:before {
    content: "\e634"
}

.icon-weiyuyue:before {
    content: "\e635"
}

.icon-youhuiquan:before {
    content: "\e636"
}

.icon-iconfontdengji:before {
    content: "\e611"
}

.icon-iconfontdingdan:before {
    content: "\e612"
}

.icon-iconfontfankui:before {
    content: "\e613"
}

.icon-iconfontfenlei:before {
    content: "\e614"
}

.icon-iconfontfma:before {
    content: "\e615"
}

.icon-iconfontfuwu:before {
    content: "\e616"
}

.icon-iconfontgouwuche:before {
    content: "\e617"
}

.icon-iconfontshangcheng:before {
    content: "\e618"
}

.icon-iconfontshezhi:before {
    content: "\e619"
}

.icon-iconfonttixing:before {
    content: "\e61a"
}

.icon-iconfontwode:before {
    content: "\e61b"
}

.icon-iconfontyouhui:before {
    content: "\e61c"
}

.ui_line {
    height: .2rem;
    background: #f5f5f5;
    overflow: hidden;
    clear: both
}

.ui_fz30 {
    font-size: .3rem
}

.ui_fz24 {
    font-size: .24rem
}

.ui_c333 {
    color: #333
}

.ui_c999 {
    color: #999
}

.ui_cff5 {
    color: #ff5816
}

.ui-button {
    display: block;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    border-radius: .1rem;
    background-color: #FF5722;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #FF5722
}

.ui-button span {
    font-size: .3rem;
    color: #fff
}

.ui-button:active,
.ui-button:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 .02rem .04rem .01rem inset;
    -moz-box-shadow: rgba(0, 0, 0, .3) 0 .02rem .04rem .01rem inset;
    -ms-box-shadow: rgba(0, 0, 0, .3) 0 .02rem .04rem .01rem inset;
    -o-box-shadow: rgba(0, 0, 0, .3) 0 .02rem .04rem .01rem inset;
    box-shadow: rgba(0, 0, 0, .3) 0 .02rem .04rem .01rem inset
}

.ui-button-gray {
    background-color: #fdfdfd;
    border: 1px solid #fdfdfd
}

.ui-button-gray span {
    color: #666
}

.ui-button-disable {
    background-color: #F4F4F4;
    border: 1px solid #f4f4f4
}

.ui-button-disable span {
    color: #333
}

.ui-box {
    display: box;
    display: -webkit-box;
    box-align: center;
    -webkit-box-align: center;
    box-pack: center;
    -webkit-box-pack: center
}

.ui-box .ui-box-flex {
    -webkit-box-flex: 1;
    box-flex: 1
}

.ui-button-box {
    display: box;
    display: -webkit-box;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    border-radius: .1rem;
    overflow: hidden
}

.ui-button-box .ui-button {
    -webkit-box-flex: 1;
    box-flex: 1;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    white-space: nowrap;
    border: 0
}

.ui-button-box.ui-button-box-fff {
    border: 1px solid transparent
}

.ui-button-box.ui-button-box-fff .ui-button:last-child {
    border-left: 1px solid #FF8533
}

.ui-button-box.ui-button-box-333 {
    border: 1px solid #ddd
}

.ui-button-box.ui-button-box-333 .ui-button:last-child {
    border-left: 1px solid #f6f6f6
}

.ui-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
}

.ui-pop {
    background: #FFF;
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    -ms-border-radius: .06rem;
    -o-border-radius: .06rem;
    border-radius: .06rem;
    position: fixed;
    top: 10%;
    left: .2rem;
    right: .2rem;
    overflow: hidden
}

.ui-pop .ui-pop-content {
    padding: .7rem;
    height: 100%
}

.ui-pop .ui-pop-close {
    position: absolute;
    top: 0;
    right: 0
}

.ui-pop .ui-pop-close span {
    font-size: .5rem;
    color: #333
}

.ui-notice {
    position: fixed;
    left: .2rem;
    right: .2rem;
    text-align: center
}

.ui-notice .ui-notice-content {
    display: inline-block;
    background: rgba(0, 0, 0, .8);
    padding: .2rem;
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    -ms-border-radius: .06rem;
    -o-border-radius: .06rem;
    border-radius: .06rem;
    overflow: hidden;
    min-width: 3.5rem;
    color: #FFF;
    font-size: .24rem;
    line-height: .3rem;
    text-align: center
}

.ui-notice.ui-notice-bottom {
    bottom: .2rem
}

.ui-notice.ui-notice-top {
    top: 0;
    left: 0;
    right: 0
}

.ui-notice.ui-notice-top .ui-notice-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    display: block;
    padding: .3rem .2rem
}

.ui-bubble {
    position: absolute;
    top: -.16rem;
    right: -.16rem
}

.ui-bubble-num {
    min-width: .38rem;
    height: .38rem;
    background: #FF5722;
    -webkit-border-radius: .38rem;
    -moz-border-radius: .38rem;
    -ms-border-radius: .38rem;
    -o-border-radius: .38rem;
    border-radius: .38rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .1rem
}

.ui-bubble-num p {
    font-size: .2rem;
    line-height: .38rem;
    color: #FFF
}

.ui-bubble.ui-bubble-more {
    top: -.1rem;
    right: -.1rem
}

.ui-bubble.ui-bubble-more .ui-bubble-num {
    width: .2rem;
    height: .2rem;
    text-indent: -999rem;
    overflow: hidden
}

.ui-tip {
    background: #FF5722;
    display: inline-block;
    padding: 0 .12rem;
    -webkit-border-radius: .04rem;
    -moz-border-radius: .04rem;
    -ms-border-radius: .04rem;
    -o-border-radius: .04rem;
    border-radius: .04rem
}

.ui-tip span {
    font-size: .24rem;
    line-height: .34rem;
    color: #FFF
}

.ui-tip.ui-tip-gray {
    background: #DDD
}

.ui-carousel-container {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

.ui-carousel-viewport {
    width: 100%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: chained;
    -webkit-transform: translateZ(0);
    overflow: auto
}

.ui-carousel-viewport::-webkit-scrollbar {
    display: none;
    height: 0!important
}

.ui-carousel-viewport .ui-carousel-card {
    display: inline-block;
    -webkit-user-select: none
}

.ui-swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative
}

.ui-swipe-wrap {
    overflow: hidden;
    position: relative
}

.ui-swipe-wrap>div {
    float: left;
    width: 100%;
    position: relative
}

.ui-carousel-color a {
    display: block;
    border: 1px solid #f6f6f6;
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    -ms-border-radius: .06rem;
    -o-border-radius: .06rem;
    border-radius: .06rem;
    background: #FFF;
    padding: .16rem;
    margin-right: .2rem
}

.ui-carousel-color a.on {
    border-color: #FF5722;
    color: #FF5722
}

.ui-carousel-color a.off {
    background: #F2F2F2
}

.ui-carousel-color img {
    width: .35rem;
    height: .35rem;
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    -ms-border-radius: .35rem;
    -o-border-radius: .35rem;
    border-radius: .35rem;
    overflow: hidden
}

.ui-carousel-size a {
    display: block;
    border: 1px solid #f6f6f6;
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    -ms-border-radius: .06rem;
    -o-border-radius: .06rem;
    border-radius: .06rem;
    overflow: hidden;
    background: #FFF;
    text-align: center;
    width: 1rem;
    margin-right: .2rem
}

.ui-carousel-size a.on {
    border-color: #FF5722;
    color: #FF5722
}

.ui-carousel-size a.off {
    background: #F2F2F2
}

.ui-carousel-size span {
    font-size: .16rem;
    line-height: .66rem;
    color: #999
}

.ui-radio-button {
    overflow: hidden
}

.ui-radio-button li {
    float: left;
    margin-right: .1rem
}

.ui-radio-button li:last-child {
    margin-right: 0
}

.ui-radio-button li a {
    display: block;
    font-size: .24rem;
    border: 1px solid #f6f6f6;
    padding: .18rem .3rem;
    background: #FFF
}

.ui-radio-button li a.on {
    border-color: #FF5722;
    color: #FF5722
}

.ui-input {
    border: 1px solid #f6f6f6;
    overflow: hidden;
    font-size: .24rem
}

.ui-input input {
    padding: .18rem .3rem;
    border: 1px solid #f6f6f6;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 0
}

.ui-input-btn {
    display: block;
    font-size: .24rem;
    border: 1px solid #f6f6f6;
    padding: .18rem .3rem;
    margin-left: .1rem
}

.ui-list {
    position: relative
}

.ui-list .ui-list-item {
    border-bottom: 1px solid #f6f6f6;
    display: block;
    font-size: .28rem;
    overflow: hidden;
    background: #FFF;
    padding: .2rem .3rem
}

.ui-list .ui-list-item.more {
    position: relative;
    padding-right: .5rem
}

.ui-list .ui-list-item.more:after {
    content: '\0020';
    display: block;
    width: .14rem;
    height: .14rem;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: absolute;
    top: 50%;
    right: .14rem;
    margin-top: -.07rem;
    -webkit-transition: .2s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ui-list .ui-list-item.expen.more:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ui-list-item,
.ui-list-item h1,
.ui-list-item h2,
.ui-list-item h3,
.ui-list-item h4,
.ui-list-item h5,
.ui-list-item h6,
.ui-list-item p {
    line-height: .36rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ui-list-bordered {
    border: 1px solid #f6f6f6
}

.ui-list-bordered .ui-list-item:last-child {
    border: 0
}

.ui-card {
    border: 1px solid #f6f6f6;
    overflow: hidden;
    margin: .2rem;
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    -ms-border-radius: .06rem;
    -o-border-radius: .06rem;
    border-radius: .06rem;
    background: #FFF
}

.ui-card .ui-card-item {
    padding: .2rem
}

.ui-card .ui-card-text {
    font-size: .24rem;
    line-height: .36rem
}

.ui-card .ui-list {
    padding-top: 0;
    padding-bottom: 0
}

.ui-card .ui-list-item {
    padding-left: 0;
    padding-right: 0
}

.ui-card .ui-list-item:last-child {
    border: 0
}

html {
    font-family: Arial, Verdana, Sans-serif
}

html,
body,
#wrapper {
    height: 100%
}

#wrapper {
    position: relative;
    z-index: 2
}

.global-loading {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center
}

.global-loading .global-loading-logo .global-loading-anim {
    height: 1.5rem
}

.global-loading .global-loading-text {
    font-size: .24rem;
    line-height: .36rem;
    color: #333
}

.global-loading .global-loading-text .hot {
    font-weight: 700;
    font-size: .28rem;
    padding: 0 .06rem
}

.v-enter {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    -o-animation: fadein .2s;
    -moz-animation: fadein .2s;
    -webkit-animation: fadein .2s;
    animation: fadein .2s
}

.v-leave {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    -o-animation: fadeout .12s;
    -moz-animation: fadeout .12s;
    -webkit-animation: fadeout .12s;
    animation: fadeout .12s
}

@-webkit-keyframes fadein {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1
    }
}

@-moz-keyframes fadeout {
    0% {
        opacity: 1
    }
}

@-ms-keyframes fadeout {
    0% {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 1
    }
}

.xm-input-number {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eee
}

.xm-input-number .input-sub,
.xm-input-number .input-add {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    position: relative;
    vertical-align: middle;
    background-color: #fafafa;
    -webkit-transition: background-color .3s;
    -webkit-transition-delay: linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    transition: background-color .3s linear 0s
}

.xm-input-number .input-sub:after,
.xm-input-number .input-add:after {
    content: '\0020';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: .24rem;
    height: .04rem;
    margin: -.02rem 0 0 -.12rem;
    -webkit-border-radius: .02rem;
    -moz-border-radius: .02rem;
    -ms-border-radius: .02rem;
    -o-border-radius: .02rem;
    border-radius: .02rem;
    background-color: #ddd
}

.xm-input-number .input-add:before {
    content: '\0020';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: .04rem;
    height: .24rem;
    margin: -.12rem 0 0 -.02rem;
    -webkit-border-radius: .02rem;
    -moz-border-radius: .02rem;
    -ms-border-radius: .02rem;
    -o-border-radius: .02rem;
    border-radius: .02rem;
    background-color: #ddd
}

.xm-input-number .input-num {
    vertical-align: middle;
    display: inline-block;
    min-width: .34rem;
    padding: 0 .12rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center
}

.xm-input-number .input-num span {
    font-size: .32rem;
    color: #51555a
}

.xm-input-number .active {
    background-color: #f4f4f4
}

.xm-input-number .active:after,
.xm-input-number .active:before {
    background-color: #999
}
